In [ ]:
#ËßÄÂØüÈÅéË≥áÊñôÂæåÔºåÂõ†Ë≥áÊñôÈæêÂ§ßÂèä‰æÜ‰∏çÂèäÂàÜÊûêÊñáÂ≠óÔºåÊ±∫ÂÆö‰ª•'_score'ÁÇ∫‰∏ªËª∏Âª∫ÊßãÊ®°ÂûãÂèäÈÄ≤Ë°åÊ∏¨Ë©¶

In [23]:
#ÂåØÂÖ•Â•ó‰ª∂
import json
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.metrics import silhouette_score
from sklearn.cluster import KMeans
from sklearn.tree import DecisionTreeClassifier

In [2]:
#ËÆÄÂÖ•ÂéüÂßãÊ™îÊ°à data_identification.csv, emotion.csv
data_identification = pd.read_csv('data_identification.csv', sep=",")
emotion = pd.read_csv('emotion.csv', sep=",")
#ÂàÜÂá∫testÂèätrainË≥áÊñô
test_data = data_identification[data_identification['identification'] == 'test']
train_data = data_identification[data_identification['identification'] == 'train']
#ËÆÄÂèñ‰∏¶Ëß£ÊûêjsonÊ™îrow data
tweets = []
for line in open('tweets_DM.json', 'r'):
    tweets.append(json.loads(line))
    
tweets_df = pd.DataFrame(tweets)
tweets_df

,_score,_index,_source,_crawldate,_type
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets
...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets

In [3]:
#Áî±ÊñºË≥áÊñôÈáèÈÅéÊñºÈæêÂ§ßÔºåÂÖàÊì∑Âèñ10000Á≠ÜË≥áÊñô‰æÜÂª∫ÊßãÊ®°Âûã
#Ëß£Êûê'_source'Ê¨Ñ‰Ωç‰πãjsonÊ†ºÂºè
tweets10000 = tweets_df.iloc[0:10000]
tmpSource10000 = tweets10000['_source']

lSource10000 = pd.DataFrame()
for i in range(0, tmpSource10000.count()):
    data = json.dumps(tmpSource10000[i])
    tmp = pd.DataFrame(json.loads(data))
    lSource10000 = lSource10000.append(tmp.T.reset_index())

lSource10000 = lSource10000.reset_index()
del lSource10000["level_0"]
lSource10000

,index,hashtags,text,tweet_id
0,tweet,[Snapchat],"People who post ""add me on #Snapchat"" must be ...",0x376b20
1,tweet,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #...",0x2d5350
2,tweet,[bibleverse],"Confident of your obedience, I write to you, k...",0x28b412
3,tweet,[],Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>,0x1cd5b0
4,tweet,[],"""Trust is not the same as faith. A friend is s...",0x2de201
...,...,...,...,...
9995,tweet,[],@BlackApril91107 @DonCheadle He's pulling a Ba...,0x33938d
9996,tweet,[],Now it's time to observe and wait wisely for t...,0x331a93
9997,tweet,[],@FloydMayweather Yes!! Because your President ...,0x320983
9998,tweet,"[brighttalk, contentstrategy]",Thx @tonimantych @ #brighttalk Virtual Summit:...,0x24fb3b
9999,tweet,[Trump],@VP @POTUS Are you simple? He's emblematic of ...,0x2d583b

In [4]:
#10000Á≠ÜË≥áÊñô‰∏¶Âêà‰ΩµËß£ÊûêÂá∫ÁöÑ'_source'
tweets10000 = tweets10000.merge(lSource10000, left_index=True, right_index=True)
tweets10000

,_score,_index,_source,_crawldate,_type,index,hashtags,text,tweet_id
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets,tweet,[Snapchat],"People who post ""add me on #Snapchat"" must be ...",0x376b20
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets,tweet,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #...",0x2d5350
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets,tweet,[bibleverse],"Confident of your obedience, I write to you, k...",0x28b412
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets,tweet,[],Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>,0x1cd5b0
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets,tweet,[],"""Trust is not the same as faith. A friend is s...",0x2de201
...,...,...,...,...,...,...,...,...,...
9995,958,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x3393...",2015-06-19 06:13:57,tweets,tweet,[],@BlackApril91107 @DonCheadle He's pulling a Ba...,0x33938d
9996,112,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x331a...",2016-11-10 16:26:31,tweets,tweet,[],Now it's time to observe and wait wisely for t...,0x331a93
9997,847,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x3209...",2015-01-19 14:24:22,tweets,tweet,[],@FloydMayweather Yes!! Because your President ...,0x320983
9998,243,hashtag_tweets,"{'tweet': {'hashtags': ['brighttalk', 'content...",2017-09-24 16:35:51,tweets,tweet,"[brighttalk, contentstrategy]",Thx @tonimantych @ #brighttalk Virtual Summit:...,0x24fb3b
9999,776,hashtag_tweets,"{'tweet': {'hashtags': ['Trump'], 'tweet_id': ...",2016-03-01 11:58:43,tweets,tweet,[Trump],@VP @POTUS Are you simple? He's emblematic of ...,0x2d583b

In [5]:
#ÁßªÈô§Á∂ìÂà§Êñ∑Âæå‰∏çÂøÖË¶Å‰πãÊ¨Ñ‰Ωç
del tweets10000["_index"]
del tweets10000["_source"]
del tweets10000["_crawldate"]
del tweets10000["_type"]
del tweets10000["index"]

tweets10000

,_score,hashtags,text,tweet_id
0,391,[Snapchat],"People who post ""add me on #Snapchat"" must be ...",0x376b20
1,433,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #...",0x2d5350
2,232,[bibleverse],"Confident of your obedience, I write to you, k...",0x28b412
3,376,[],Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>,0x1cd5b0
4,989,[],"""Trust is not the same as faith. A friend is s...",0x2de201
...,...,...,...,...
9995,958,[],@BlackApril91107 @DonCheadle He's pulling a Ba...,0x33938d
9996,112,[],Now it's time to observe and wait wisely for t...,0x331a93
9997,847,[],@FloydMayweather Yes!! Because your President ...,0x320983
9998,243,"[brighttalk, contentstrategy]",Thx @tonimantych @ #brighttalk Virtual Summit:...,0x24fb3b
9999,776,[Trump],@VP @POTUS Are you simple? He's emblematic of ...,0x2d583b

In [14]:
#Âêà‰ΩµÂ∞çÊáâ'tweet_id'‰πã'emotion'
tweets10000['emotion'] = ""

for i in range(0, tweets10000['tweet_id'].count()):
    tmp = emotion.loc[emotion['tweet_id'].str.contains(tweets10000['tweet_id'][i], case=False)]
    if tmp['emotion'].count() > 0:
        tweets10000['emotion'][i] = tmp.iat[0,1]
    else:
        tweets10000['emotion'][i] = "surprise"
        
tweets10000

<ipython-input-14-91083b50c410>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets10000['emotion'][i] = tmp.iat[0,1]
<ipython-input-14-91083b50c410>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets10000['emotion'][i] = "surprise"

,_score,hashtags,text,tweet_id,emotion
0,391,[Snapchat],"People who post ""add me on #Snapchat"" must be ...",0x376b20,anticipation
1,433,"[freepress, TrumpLegacy, CNN]","@brianklaas As we see, Trump is dangerous to #...",0x2d5350,sadness
2,232,[bibleverse],"Confident of your obedience, I write to you, k...",0x28b412,surprise
3,376,[],Now ISSA is stalking Tasha üòÇüòÇüòÇ <LH>,0x1cd5b0,fear
4,989,[],"""Trust is not the same as faith. A friend is s...",0x2de201,surprise
...,...,...,...,...,...
9995,958,[],@BlackApril91107 @DonCheadle He's pulling a Ba...,0x33938d,surprise
9996,112,[],Now it's time to observe and wait wisely for t...,0x331a93,trust
9997,847,[],@FloydMayweather Yes!! Because your President ...,0x320983,sadness
9998,243,"[brighttalk, contentstrategy]",Thx @tonimantych @ #brighttalk Virtual Summit:...,0x24fb3b,joy
9999,776,[Trump],@VP @POTUS Are you simple? He's emblematic of ...,0x2d583b,surprise

In [15]:
#Êö´Â≠òÊ™îÊ°à
tweets10000.to_csv("temp.csv", encoding='utf-8', index=False)

In [60]:
#Êö´Â≠òÊ™îÊ°à
tweets_df.to_csv("ALLtemp.csv", encoding='utf-8', index=False)

In [34]:
#‰ª•10000Á≠ÜË≥áÊñôÂçÄÂàÜË®ìÁ∑¥Áî®Ë≥áÊñô
xhead10000 = ['_score']

x_train_10000 = tweets10000[xhead10000]
x_train_10000
y_train_10000 = tweets10000.emotion
y_train_10000

0       anticipation
1            sadness
2           surprise
3               fear
4           surprise
            ...
9995        surprise
9996           trust
9997         sadness
9998             joy
9999        surprise
Name: emotion, Length: 10000, dtype: object

In [35]:
#‰ΩøÁî®DecisionTreeClassifierÂª∫Á´ãÊ®°ÂûãÔºåÈÄ≤Ë°åË®ìÁ∑¥
model10000 = DecisionTreeClassifier()
model10000.fit(x_train_10000, y_train_10000)

DecisionTreeClassifier()

In [41]:
#Á¢∫Ë™çË®ìÁ∑¥‰πãÁµêÊûúÊ∫ñÁ¢∫Â∫¶
model10000.predict(x_train_10000)

array(['sadness', 'surprise', 'anticipation', ..., 'sadness', 'joy',
       'surprise'], dtype=object)

In [75]:
#ËÆÄÂèñÊ∏¨Ë©¶Ë≥áÊñôÂ∞çÊáâÁöÑ'id', '_score'
test = pd.read_excel('sampleSubmissionÁ∏ΩÂÖ±ÊòØ411973Âàó.xlsx')

In [76]:
test

        _score        id
0          232  0x28b412
1          989  0x2de201
2           66  0x218443
3          104  0x2939d5
4          310  0x26289a
...        ...       ...
411967     602  0x2913b4
411968     598  0x2a980e
411969     827  0x316b80
411970     368  0x29d0cb
411971     498  0x2a6a4f

[411972 rows x 2 columns]

In [81]:
#È†êÊ∏¨ÂæåÂæóÂà∞ÁµêÊûú
x_test = pd.DataFrame(test['_score'])

result = model10000.predict(x_test)
result

array(['anticipation', 'joy', 'anticipation', ..., 'joy', 'surprise',
       'disgust'], dtype=object)

In [84]:
#Âêà‰ΩµÁµêÊûú
out = pd.DataFrame(test['id'])
out['emotion'] = result
out

              id       emotion
0       0x28b412  anticipation
1       0x2de201           joy
2       0x218443  anticipation
3       0x2939d5           joy
4       0x26289a  anticipation
...          ...           ...
411967  0x2913b4      surprise
411968  0x2a980e      surprise
411969  0x316b80           joy
411970  0x29d0cb      surprise
411971  0x2a6a4f       disgust

[411972 rows x 2 columns]

In [85]:
#Ëº∏Âá∫Êàêcsv
out.to_csv("result.csv", encoding='utf-8', index=False)

In [98]:
train_data1 = pd.read_excel('ALLtemp1_Emotion_468117.xlsx')
train_data2 = pd.read_excel('ALLtemp2_Emotion_466955.xlsx')
#train_data = pd.merge(train_data1, train_data2, left_index='True', right_index='True')
#train_data
train_data = pd.concat([train_data1,train_data2])
train_data = train_data.reset_index()
train_data

         index  _score        id       emotion
0            0    1021  0x2c91a8  anticipation
1            1     481  0x368e95           joy
2            2     631  0x359db9  anticipation
3            3     560  0x1fde89         anger
4            4     728  0x213b7f  anticipation
...        ...     ...       ...           ...
935067  466950      81  0x26386e       disgust
935068  466951      25  0x2ee290         trust
935069  466952      94  0x1f1592       sadness
935070  466953     798  0x31bf05         trust
935071  466954     295  0x2fc11b         trust

[935072 rows x 4 columns]

In [99]:
x_train = pd.DataFrame(train_data['_score'])
y_train = pd.DataFrame(train_data['emotion'])
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [100]:
x_test

        _score
0          232
1          989
2           66
3          104
4          310
...        ...
411967     602
411968     598
411969     827
411970     368
411971     498

[411972 rows x 1 columns]

In [101]:
result = model.predict(x_test)
result

array(['joy', 'joy', 'joy', ..., 'joy', 'joy', 'joy'], dtype=object)

In [104]:
out = pd.DataFrame(test['id'])
out['emotion'] = result
out

              id emotion
0       0x28b412     joy
1       0x2de201     joy
2       0x218443     joy
3       0x2939d5     joy
4       0x26289a     joy
...          ...     ...
411967  0x2913b4     joy
411968  0x2a980e     joy
411969  0x316b80     joy
411970  0x29d0cb     joy
411971  0x2a6a4f     joy

[411972 rows x 2 columns]

In [105]:
out.to_csv("result1.csv", encoding='utf-8', index=False)

In [ ]:
#Ê™îÊ°àË≥áÊñôÈáèÈÅéÂ§ßÔºåÊãÜÂàÜ3ÂÄãÊ™îÊ°à‰æÜËôïÁêÜ
emotion
temp1 = emotion.iloc[0:500000]
temp2 = emotion.iloc[500000:1000000]
temp3 = emotion.iloc[1000000:emotion['emotion'].count()]

temp1.to_csv("emotion1.csv", encoding='utf-8', index=False)
temp2.to_csv("emotion2.csv", encoding='utf-8', index=False)
temp3.to_csv("emotion3.csv", encoding='utf-8', index=False)

In [67]:
#Ê™îÊ°àË≥áÊñôÈáèÈÅéÂ§ßÔºåÊãÜÂàÜ3ÂÄãÊ™îÊ°à‰æÜËôïÁêÜ
temp1 = tweets_df.iloc[0:600000]
temp2 = tweets_df.iloc[600000:1200000]
temp3 = tweets_df.iloc[1200000:tweets_df['_score'].count()]

temp1.to_csv("ALLtemp1.csv", encoding='utf-8', index=False)
temp2.to_csv("ALLtemp2.csv", encoding='utf-8', index=False)
temp3.to_csv("ALLtemp3.csv", encoding='utf-8', index=False)